# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# =========================
# Jupyter / IPython
# =========================
.ipynb_checkpoints/


# =========================
# Generated outputs
# =========================
*.log
*.out
*.err

# Plots / figures
*.png
*.jpg
*.jpeg
*.svg
*.pdf

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
